.SliderContent {
  position: absolute;
  z-index: 10;
  top: 92px;
  max-width: 677px;
}

@media (max-width: 992px) {
  .SliderContent {
    top: 30px;
    max-width: 420px;
  }
}

@media (max-height: 610px) {
  .SliderContent {
    top: 0;
    max-width: 600px;
  }
}
