.LangSwitcher {
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: var(--font-size-m);
  background: transparent;
  border-radius: var(--primary-border-extra-small);
  color: var(--primary-color-white);

  &.active {
    background: var(--primary-color-yellow);
    color: var(--primary-color-black);
  }

  &.black-text {
    color: var(--primary-color-black);
  }
}
