.ForgotPasswordPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../../../assets/images/Avangard_Bank_1.png") center/cover no-repeat;

  &_wrapper {
    width: 100%;

    button {
      align-self: center;
    }
  }
}

.mb_auto {
  margin-bottom: auto;
}

.error_message {
  width: 100%;
  max-width: 300px;
  padding: 15px 6px;
  background: var(--primary-color-gray);
  align-self: center;
  margin-bottom: 5px;
}
